/*============== Colores ============================================================*/
/*============== Colores ============================================================*/
/*============== Fuentes ============================================================*/
/*============== Fuentes ============================================================*/
/*============== Medias queries =====================================================*/
/*============== Medias queries =====================================================*/
/*=============== Etiquetas gobables ================================================*/
html,
body {
  margin: 0 !important;
}
body {
  font-family: Amaranth, Helvetica Neue, sans-serif;
  font-size: 14px;
  overflow-x: hidden;
}
a {
  color: #000;
}
article {
  z-index: 0;
  position: relative;
}
dt {
  float: left;
}
/*=============== Etiquetas gobables ================================================*/
/*=============== Margins y paddings ================================================*/
.no-margin {
  margin: 0;
}
.margin-medium {
  margin-top: 30px;
}
.margin-small-top {
  margin-top: 10px;
}
.margin-small-left {
  margin-left: 15px;
}
.no-padding {
  padding: 0;
}
.padding-small {
  padding-left: 9px;
  padding-right: 9px;
}
.padding-medium {
  padding: 10px;
}
.padding-small-left {
  padding-left: 15px;
}
.padding-medium-left {
  padding-left: 40px;
}
.padding-large-left {
  padding-left: 55px;
}
.padding-xlarge-left {
  padding-left: 65px;
}
/*=============== Margins y paddings ================================================*/
/*=============== Menu  Index =======================================================*/
.boxMenuIndex {
  list-style: none;
  padding: 0;
}
.boxMenuIndex li {
  float: left;
  width: 33.3%;
  padding: 10px 15px;
  font-size: 1.7em;
}
.boxMenuIndex li span {
  display: block;
  font-size: 5em;
  min-height: 80px;
}
.boxMenuIndex li span:nth-child(2) {
  font-size: 0.6em;
}
.boxMenuIndex li:nth-child(1) {
  background-color: #05a9fc;
  border-top-left-radius: 1.2em;
  content: "\e602";
}
.boxMenuIndex li:nth-child(1):hover {
  background-color: #000;
}
.boxMenuIndex li:nth-child(1):hover a,
.boxMenuIndex li:nth-child(1):hover span {
  color: #05a9fc;
  text-decoration: none;
}
.boxMenuIndex li:nth-child(2) {
  background-color: #15db5b;
}
.boxMenuIndex li:nth-child(2):hover {
  background-color: #000;
}
.boxMenuIndex li:nth-child(2):hover a,
.boxMenuIndex li:nth-child(2):hover span {
  color: #15db5b;
  text-decoration: none;
}
.boxMenuIndex li:nth-child(3) {
  background-color: #E01F95;
  border-top-right-radius: 1.2em;
}
.boxMenuIndex li:nth-child(3):hover {
  background-color: #000;
}
.boxMenuIndex li:nth-child(3):hover a,
.boxMenuIndex li:nth-child(3):hover span {
  color: #E01F95;
  text-decoration: none;
}
/*=============== Menu  Index =======================================================*/
/*=============== Huellas ===========================================================*/
.boxHuellas {
  background-color: #000;
  width: initial;
}
.boxHuellas__list {
  padding: 0px;
  list-style: none;
  color: #fff;
}
.boxHuellas__list li {
  float: left;
  font-size: 1.2em;
}
.boxHuellas__list li:nth-child(odd) {
  margin-left: 5px;
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}
.boxHuellas__list li:nth-child(even) {
  -ms-transform: rotate(40deg);
  /* IE 9 */
  -webkit-transform: rotate(40deg);
  /* Chrome, Safari, Opera */
  transform: rotate(40deg);
  margin-left: 5px;
  margin-top: 7px;
}
/*=============== Huellas ===========================================================*/
/*=============== Login SingIn ======================================================*/
.BoxLoginSingIm {
  margin-top: 20px;
  z-index: 1;
  position: relative;
  float: right;
  width: initial;
  padding: 0;
}
.BoxLoginSingIm h2 {
  display: none;
}
.BoxLoginSingIm ul {
  list-style: none;
}
.BoxLoginSingIm ul li {
  float: right;
  padding: 10px;
  color: #000;
  display: none;
}
.BoxLoginSingIm ul li span {
  margin-left: 10px;
}
.BoxLoginSingIm ul li:nth-child(2) {
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  background-color: #f78e1d;
  display: inline-block;
}
.BoxLoginSingIm ul li:nth-child(2):hover,
.BoxLoginSingIm ul li:nth-child(2):hover a {
  background-color: #000;
  color: #FADA37;
}
.BoxLoginSingIm ul li:nth-child(1) {
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  background-color: #FADA37;
  display: inline-block;
}
.BoxLoginSingIm ul li:nth-child(1):hover,
.BoxLoginSingIm ul li:nth-child(1):hover a {
  background-color: #000;
  color: #f78e1d;
}
/*=============== Login SingIn ======================================================*/
/*=============== Img Principal Index ===============================================*/
.BoxImgPrincipal {
  z-index: 0;
  position: relative;
  opacity: 0.7;
}
/*=============== CabezeraME ========================================================*/
.boxCabezeraME {
  padding: 0px;
  background-color: #ac0000;
  z-index: 0;
  position: relative;
}
.boxCabezeraME__imgME {
  position: relative;
}
/*=============== CabezeraME ========================================================*/
/*=============== Footer ============================================================*/
.boxFooter {
  background-color: #000;
  color: #fff;
  width: initial;
  text-align: center;
  padding: 20px;
  border-bottom-left-radius: 1.2em;
  border-bottom-right-radius: 1.2em;
}
/*=============== Footer ============================================================*/
/*=============== Menu ==============================================================*/
.nav-justified {
  margin-bottom: 0px;
}
.MenuBoton {
  border: 2px solid #FADA37 !important;
}
.MenuBoton__lineas {
  border: 1px solid #f78e1d;
}
#menuTop li {
  display: table-cell;
  text-align: center;
  padding: 5px;
  list-style: none;
  border-bottom: 4px solid;
}
#menuTop li:nth-child(1) {
  background-color: #fff;
  color: #000;
  border-bottom-color: #f78e1d;
}
#menuTop li:nth-child(1):hover,
#menuTop li:nth-child(1):hover a {
  background-color: #f78e1d;
  color: #FFF;
  text-decoration: none;
}
#menuTop li:nth-child(2) {
  background-color: #fff;
  color: #000;
  border-bottom-color: #05a9fc;
}
#menuTop li:nth-child(2):hover,
#menuTop li:nth-child(2):hover a {
  background-color: #05a9fc;
  color: #FFF;
  text-decoration: none;
}
#menuTop li.Active:nth-child(2) {
  background-color: #05a9fc;
  color: #FFF;
  text-decoration: none;
}
#menuTop li:nth-child(3) {
  color: #000;
  border-bottom-color: #15db5b;
  background-color: #fff;
}
#menuTop li:nth-child(3):hover,
#menuTop li:nth-child(3):hover a {
  background-color: #15db5b;
  color: #FFF;
  text-decoration: none;
}
#menuTop li.Active:nth-child(3) {
  background-color: #15db5b;
  color: #FFF;
  text-decoration: none;
}
#menuTop li:nth-child(4) {
  background-color: #fff;
  border-bottom-color: #E01F95;
  color: #000;
}
#menuTop li:nth-child(4):hover,
#menuTop li:nth-child(4):hover a {
  background-color: #E01F95;
  color: #FFF;
  text-decoration: none;
}
#menuTop li.Active:nth-child(4) {
  background-color: #E01F95;
  color: #FFF;
  text-decoration: none;
}
#MenuFooter {
  list-style: none;
  padding-left: 0;
}
#MenuFooter li {
  display: inline-block;
  width: 19%;
  border-left: 1px solid;
}
#MenuFooter li:first-child {
  border-left: none;
}
#MenuFooter li a {
  color: #fff;
}
#redesSociales {
  list-style: none;
  padding-left: 0;
}
#redesSociales a:hover {
  text-decoration: none;
}
#redesSociales a li {
  color: #fff;
  font-size: 2em;
  display: inline-block;
  padding: 20px;
}
#redesSociales a li:hover {
  color: #15db5b;
}
.BoxBorderBottom {
  z-index: 10000;
  position: absolute;
  left: 0;
  right: 0;
}
.BoxBorderBottom__Item {
  padding: 0px;
}
.BoxBorderBottom__Item--rojo {
  background-color: #ac0000;
  float: left;
  height: 12px;
}
.BoxBorderBottom__Item--naranja {
  background-color: #f78e1d;
  float: left;
  height: 5px;
}
.BoxBorderBottom__Item--amarillo {
  background-color: #FADA37;
  float: left;
  height: 10px;
}
.BoxBorderBottom__Item--azul {
  background-color: #05a9fc;
  float: left;
  height: 8px;
}
.BoxBorderBottom__Item--verde {
  background-color: #15db5b;
  float: left;
  height: 6px;
}
.BoxBorderBottom__Item--morado {
  background-color: #E01F95;
  float: left;
  height: 10px;
}
/*=============== Menu ==============================================================*/
/*=============== Inicio  sesion ====================================================*/
.boxMainLogin {
  padding: 20px 5px;
}
.boxMainLogin > hr {
  display: block;
}
.boxMainLogin__check {
  float: left;
}
.boxMainLogin__help {
  float: right;
}
.boxMainLogin__SingInBtn {
  display: block;
  background-color: #f78e1d;
  padding: 5px 138px;
  margin-top: 10px;
}
.boxMainLogin__btn {
  display: block;
  background-color: #15db5b;
  padding: 5px 148px;
  margin-top: 10px;
}
.boxMainLogin__redesSociales {
  background-color: #05a9fc;
  padding: 10px 0px;
  font-size: large;
  text-decoration: none;
}
.boxMainLogin__redesSociales:hover {
  color: #fff;
}
/*=============== Inicio  sesion ====================================================*/
/*=============== Registro ==========================================================*/
.boxSingIn {
  padding: 20px 20px;
}
.boxSingIn__titulo {
  padding-left: 15px;
}
.boxSingIn__InputGroup {
  margin: 10px 0px;
}
.boxSingIn__InputImg {
  background-color: #05a9fc;
  border: 1px solid #05a9fc;
}
.boxSingIn__boxBtn {
  padding-top: 20px;
}
.boxSingIn__Btn {
  background-color: #f78e1d;
  padding: 5px 30px;
}
/*=============== Registro ==========================================================*/
/*=============== boton =============================================================*/
.BtnAdopcion {
  background-color: #05a9fc;
  color: white;
}
.BtnEncontrados {
  background-color: #15db5b;
  color: white;
}
.BtnPerdidos {
  background-color: #E01F95;
  color: white;
}
.BtnPosicion {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.BtnFinalizar {
  background-color: #f78e1d;
  position: absolute;
  top: 16px;
  right: 0;
}
.BtnEditar {
  background-color: #EDEDED;
  position: absolute;
  right: 220px;
  top: 15px;
}
.BtnMarcarPost {
  position: relative;
  right: 0px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 306px;
  cursor: default;
  text-align: center;
}
/*=============== boton =============================================================*/
/*=============== Detalle mascota ===================================================*/
.BoxDetPet {
  display: block;
}
.BoxDetPet__ImgBox {
  border: 2px solid #D7D7D7;
}
.BoxDetPet__ImgSmall {
  margin-top: 10px;
}
.BoxDetPet__ImgSmall--active {
  border: 3px solid #f78e1d;
}
.BoxDetPet__ImgBig {
  margin: 10px 10px 10px 0px;
  height: 300px;
  width: 100%;
}
.BoxDetPet__ImgBigBox {
  padding-right: 10px;
}
.BoxDetPet__ImgBig {
  margin-top: 10px;
  height: 300px;
  width: 100%;
  border: 1px solid #D7D7D7;
}
.BoxDetPet__title {
  text-transform: capitalize;
  margin-left: 15px;
  padding-top: 10px;
}
.BoxDetPet__title small {
  font-size: 0.4em;
}
.BoxDetPet__data {
  margin-top: 10px;
  margin-left: 15px;
}
.BoxDetPet__data > dt {
  float: left;
  margin-right: 5px;
}
.BoxDetPet__data > dd {
  margin-bottom: 10px;
}
.BoxDetPet__label {
  padding: 5px;
  background-color: #f78e1d;
  font-size: 1em;
  color: #fff;
}
.BoxDetPet__label__titulo {
  padding: 8px;
  margin-right: 5px;
  background: #FADA37;
  color: #000;
}
.BoxDetPet__labelBox {
  /*padding: 5px;*/
  background: #f78e1d;
}
.BoxDetPet__contacto {
  height: 61px;
}
.BoxDetPet__contacto dl {
  padding-left: 10px;
}
.BoxDetPet__contacto dl dt {
  float: left;
}
.BoxDetPet__estatus {
  height: 61px;
  text-align: center;
}
/*=============== Detalle mascota ===================================================*/
/*=============== Breadcrumbs =======================================================*/
.breadcrumbs {
  float: right;
  margin: 20px;
}
.breadcrumbs a {
  margin: 5px;
}
/*=============== Breadcrumbs =======================================================*/
/*=============== Caja moscota ======================================================*/
.post a:hover {
  text-decoration: none;
}
.post__titulo {
  /* background-color: #fada37; */
  padding: 15px 20px;
  border-bottom: 7px solid #fada37;
  border-top: 7px solid;
}
.post__titulo h2 {
  margin: 0px;
}
.post__imgPost {
  height: 250px;
  width: 100%;
}
.post__imgPost--noFound {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  min-width: 380px;
  background-color: #EDEDED;
}
.post__imgContainer {
  position: relative;
  z-index: 0;
}
.post__info {
  background-color: rgba(0, 0, 0, 0.3);
  height: 70px;
  color: white;
  position: relative;
  z-index: 10;
  margin-top: -70px;
}
.post__info h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.post__info__estatus {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  padding-top: 10px;
}
.post__info__estatus--adopcion {
  background-color: rgba(5, 169, 252, 0.77);
}
.post__info__estatus--encontrados {
  background-color: rgba(21, 219, 91, 0.77);
}
.post__info__estatus--perdidos {
  background-color: rgba(224, 31, 149, 0.77);
}
.post__info__estatus--otros {
  background-color: rgba(250, 218, 55, 0.77);
}
.post__NoPost {
  font-size: 1.6em;
  padding-top: 30px;
  min-height: 185px;
}
/*=============== Caja moscota ======================================================*/
/*=============== Paginacion ========================================================*/
.pagina {
  text-align: center;
  padding: 5px;
}
.pagina--adopcion {
  background-color: #05a9fc;
}
.pagina--encontrados {
  background-color: #15db5b;
}
.pagina--perdidos {
  background-color: #E01F95;
}
.pagina--busqueda {
  background-color: #f78e1d;
}
.pagina a {
  color: white;
  padding-right: 15px;
}
.pagina__titulo {
  border-top-right-radius: 1.2em;
  border-top-left-radius: 1.2em;
}
/*=============== Paginacion ========================================================*/
/*=============== Widget busqueda ===================================================*/
.searchBox {
  display: inline-block;
}
.searchBox * {
  display: inline-block;
}
.searchBox #searchform {
  display: flex;
  justify-content: center;
}
.searchBox #search-2 .assistive-text {
  display: none;
}
.searchBox #searchform .field {
  width: 200px;
  height: 30px;
  font-size: 1.5em;
  padding: 0 15px;
  border: 1px solid #B5ACAC;
  margin-right: 10px;
}
.searchBox #searchform .submit {
  border-radius: 0.3em;
  padding: 5px;
  border: none;
  background-color: #FADA37;
  height: 30px;
  width: 70px;
}
.searchBox--home {
  display: block;
  position: relative;
  z-index: 10;
  top: 260px;
}
.searchBox--home * {
  display: inline-block;
}
.searchBox--home #searchform {
  display: flex;
  justify-content: center;
}
.searchBox--home #search-2 .assistive-text {
  display: none;
}
.searchBox--home #searchform .field {
  width: 500px;
  height: 50px;
  font-size: 1.5em;
  padding: 0 15px;
  border: 1px solid #B5ACAC;
  margin-right: 10px;
}
.searchBox--home #searchform .submit {
  border-radius: 0.3em;
  padding: 5px;
  border: none;
  background-color: #FADA37;
  height: 50px;
  width: 70px;
}
.searchBox--home article {
  width: 100%;
}
/*=============== Widget busqueda ===================================================*/
/*=============== Comentarios =======================================================*/
#comment {
  width: 100%;
  height: 100px;
  border: 1px solid #BFBFBF;
  resize: none;
}
#submit {
  border-radius: 0.3em;
  padding: 5px;
  border: 1px solid #FADA37;
  background-color: #FADA37;
}
.commentlist {
  list-style: none;
}
.commentlist .photo {
  margin-left: -85px;
  width: 70px;
  height: 70px;
  position: absolute;
  border: 4px solid #D7D7D7;
}
.commentlist .children {
  list-style: none;
}
.commentlist .children .photo {
  width: 60px;
  height: 60px;
  margin-left: -70px;
}
.comment-body p {
  margin-left: 80px;
  padding: 5px;
  text-align: justify;
}
.comment-author {
  margin-left: 80px;
}
.comment-meta {
  margin-left: 80px;
}
.comment-meta a:nth-child(1) {
  font-size: 0.8em;
  padding-left: 5px;
}
.comment-meta a:nth-child(2) {
  color: #f78e1d;
  font-weight: 600;
}
.fn {
  color: #f78e1d;
  text-transform: capitalize;
  font-weight: 600;
  margin-left: 5px;
}
.reply {
  margin-left: 80px;
  margin-bottom: 20px;
}
.reply a {
  padding: 5px;
  border: 1px solid #f78e1d;
  background-color: #f78e1d;
  color: white;
  margin-left: 5px;
}
.comment-awaiting-moderation {
  margin-left: 82px;
}
/*=============== Comentarios =======================================================*/
/*=============== Modal =============================================================*/
.ventana {
  display: none;
  z-index: 1000;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(6, 6, 6, 0.41);
}
.ventana__warning {
  font-size: 4em;
  color: red;
  text-align: center;
  display: block;
}
.ventana p {
  padding: 0px 30px;
  text-align: center;
}
.ventana__btn {
  text-align: center;
}
.modal-header .close {
  margin-top: -8px;
}
/*=============== Modal =============================================================*/
.titulo--verde {
  border-bottom: 3px solid #15db5b;
  width: 100%;
}
.titulo--azul {
  border-bottom: 3px solid #05a9fc;
  width: 100%;
}
.titulo--morado {
  border-bottom: 3px solid #E01F95;
  width: 100%;
}
.titulo--naranja {
  border-bottom: 3px solid #f78e1d;
  margin-bottom: 0px;
  width: 100%;
}
.titulo__box {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  flex-direction: column;
  -webkit-flex-direction: column;
}
/*=============== Modal =============================================================*/
/*=============== filtrar ===========================================================*/
.filtar {
  padding: 15px;
  text-align: center;
}
.filtar div {
  display: inline-block;
}
.filtar label {
  font-size: 1.5em;
  font-weight: bolder;
}
.filtar label.glyphicon {
  position: relative;
  left: -40px;
  font-size: 0.9em;
}
.filtar form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
}
.filtar select {
  padding: 10px 35px 10px 15px;
  background: transparent;
  border: 1px solid #ddd;
  border-radius: 0.5em;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 10px 0;
  position: relative;
  z-index: 1;
  width: 200px;
}
.filtar select + span.glyphicon {
  position: relative;
  z-index: 0;
  left: -35px;
}
.filtar button {
  border: none;
  background: #FADA37;
  padding: 10px 15px;
  border-radius: 0.5em;
}
/*=============== filtrar ===========================================================*/
/*=============== pag equipo ========================================================*/
.member-photo img {
  width: 100%;
}
.title h2 a {
  text-align: center;
}
/*=============== pag equipo ========================================================*/
/*=============== MEdia <768 px Phones ==============================================*/
@media (max-width: 767px) {
  /*=============== Menú ==========================================================*/
  #menuTop li {
    display: block;
    padding: 0;
    border: 0;
  }
  #menuTop li.Active {
    padding: 8px;
    margin-bottom: 5px;
  }
  #menuTop li:nth-child(1),
  #menuTop li:nth-child(1) a {
    background-color: #f78e1d;
    color: #FFF;
  }
  #menuTop li:nth-child(2),
  #menuTop li:nth-child(2) a {
    background-color: #05a9fc;
    color: #FFF;
  }
  #menuTop li:nth-child(3),
  #menuTop li:nth-child(3) a {
    background-color: #15db5b;
    color: #FFF;
  }
  #menuTop li:nth-child(4),
  #menuTop li:nth-child(4) a {
    background-color: #E01F95;
    color: #FFF;
  }
  /*=============== Menú ==========================================================*/
  /*=============== Inicio Sesión =================================================*/
  .BoxLoginSingIm {
    padding: 0;
    margin-top: 15px;
    float: none;
  }
  .BoxLoginSingIm ul {
    padding: 0;
  }
  .BoxLoginSingIm ul li {
    padding: 10px;
    margin-bottom: 5px;
    display: none;
    text-align: center;
    float: none;
  }
  .BoxLoginSingIm ul li a {
    color: #fff;
  }
  .BoxLoginSingIm ul li:nth-child(1) {
    background-color: #FADA37;
    display: block;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .BoxLoginSingIm ul li:nth-child(2) {
    background-color: #f78e1d;
    display: block;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  /*=============== Inicio Sesión =================================================*/
  /*=============== Busqueda ======================================================*/
  .searchBox {
    display: inline-block;
  }
  .searchBox--home {
    top: 0px;
  }
  .searchBox--home #searchform .field {
    width: 70%;
    height: 40px;
  }
  .searchBox--home #searchform .submit {
    height: 40px;
  }
  /*=============== Busqueda ======================================================*/
  /*=============== Info mascota ==================================================*/
  .post__info {
    display: block;
  }
  .post__imgPost--noFound {
    min-width: 290px;
  }
  .post __NoPost {
    min-height: 157px;
  }
  /*=============== Info mascota ==================================================*/
  .BoxDetPet {
    display: block;
  }
  .BoxDetPet__ImgBox {
    border: 0;
  }
  .BoxDetPet__ImgSmall {
    margin-top: 10px;
    float: left;
    margin-right: 5px;
    width: 48px;
  }
  .BoxDetPet__ImgBig {
    height: 200px;
    border: 0;
    margin-left: 0;
  }
  .BoxDetPet__ImgBigBox {
    padding-right: 10px;
  }
  .BoxDetPet__title small {
    display: block;
  }
  .BoxDetPet__label {
    display: inline-block;
  }
  /*=============== Detalle mascota ===============================================*/
  /*=============== Menu  Index ===================================================*/
  .boxMenuIndex li {
    float: none;
    width: 100%;
    font-size: 1.6em;
  }
  .boxMenuIndex li span {
    display: inline-block;
    font-size: 1.6em;
  }
  .boxMenuIndex li:nth-child(1) {
    border-top-left-radius: 0;
  }
  .boxMenuIndex li:nth-child(3) {
    border-top-right-radius: 0;
  }
  /*=============== Menu  Index ===================================================*/
  /*=============== boton =========================================================*/
  .BtnPosicion {
    float: none;
    display: block;
  }
  .BtnFinalizar {
    position: relative;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
    top: 0;
    margin-top: 10px;
  }
  .BtnMarcarPost {
    position: relative;
    width: 100%;
  }
  .BtnEditar {
    background-color: #EDEDED;
    position: relative;
    right: 0;
    top: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
  }
  /*=============== boton =========================================================*/
  #MenuFooter li {
    display: block;
    width: 100%;
    border-left: 0;
  }
  .membersContainer {
    flex-direction: column;
  }
  .title h2 {
    font-size: 2em;
  }
  .wow {
    width: 100%;
    margin-bottom: 10px;
  }
}
/*=============== MEdia <768 px Phones ==============================================*/
/*=============== MEdia ≥768 px Tablets =============================================*/
@media (min-width: 768px) and (max-width: 991px) {
  /*=============== Menú ==========================================================*/
  #menuTop li {
    display: table-cell;
    padding: 0;
    border: 0;
  }
  #menuTop li.Active {
    padding: 8px;
    margin-bottom: 5px;
  }
  #menuTop li:nth-child(1),
  #menuTop li:nth-child(1) a {
    background-color: #f78e1d;
    color: #FFF;
  }
  #menuTop li:nth-child(2),
  #menuTop li:nth-child(2) a {
    background-color: #05a9fc;
    color: #FFF;
  }
  #menuTop li:nth-child(3),
  #menuTop li:nth-child(3) a {
    background-color: #15db5b;
    color: #FFF;
  }
  #menuTop li:nth-child(4),
  #menuTop li:nth-child(4) a {
    background-color: #E01F95;
    color: #FFF;
  }
  /*=============== Menú ==========================================================*/
  /*=============== Info mascota ==================================================*/
  .post__info {
    display: block;
  }
  .post__imgPost--noFound {
    min-width: 360px;
  }
  /*=============== Info mascota ==================================================*/
  /*=============== Menu  Index ===================================================*/
  .boxMenuIndex li {
    min-height: 210px;
  }
  /*=============== Menu  Index ===================================================*/
  /*=============== boton =========================================================*/
  .BtnPosicion {
    float: none;
  }
  .BtnFinalizar {
    top: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .BtnMarcarPost {
    top: 0px;
    position: relative;
  }
  .BtnEditar {
    position: absolute;
    right: 223px;
    top: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  /*=============== boton =========================================================*/
  .searchBox {
    display: inline-block;
  }
  .searchBox--home {
    top: 150px;
  }
  .searchBox--home #searchform .field {
    width: 70%;
    height: 40px;
  }
  .searchBox--home #searchform .submit {
    height: 40px;
  }
  #MenuFooter li {
    width: 25%;
  }
  #MenuFooter li:first-child {
    width: 10%;
  }
  .titulo--naranja {
    margin-bottom: 0px;
    font-size: 2em;
  }
  .filtar div {
    display: block;
  }
  .membersContainer {
    flex-wrap: wrap;
  }
  .wow {
    margin-bottom: 20px;
  }
}
/*=============== MEdia ≥768 px Tablets =============================================*/
