/*wp-login-theme*/

body.login, html {
  background: #FFFFFF;
}

#login {
  padding: 10px 0 20px 0;
}

body.login div#login form#loginform,body.login div#login form#registerform{
  -webkit-box-shadow: none; 
  box-shadow: none;
  border-top: 2px solid #f78e1d; /* Naranja */
  border-bottom: 2px solid #f78e1d; /* Naranja */
}

/* Campos */
.login form .input, .login form input[type=checkbox], .login input[type=text],form#registerform input,form#registerform textarea {
  background: #fff;
  border: 2px solid #FADA37; /* Amarillo */
  -webkit-box-shadow: none; 
  box-shadow: none;
}
/* Campos */
/* Campos click */
input[type=text]:focus,input[type=password]:focus,form#registerform input:focus{
  border-color: #FADA37;
  -webkit-box-shadow: 0 0 4px #FADA37; /* Amarillo */
  box-shadow: 0 0 4px #FADA37; /* Amarillo */
}
/* Campos click */
/* Boton acceder */
body.login div#login form#loginform p.submit input#wp-submit,body.login div#login form#registerform p.submit input#wp-submit {
  background: #f78e1d; /* Naranja */
  -webkit-box-shadow: none; 
  box-shadow: none;
  border-color: #f78e1d; /* Naranja */
  font-weight: 600;
  font-size: 1.1em;
  border-radius: 0;
}
/* Boton acceder */
/* Checkbox click */
input[type=checkbox]:checked:before {
  margin: -4px 0 0 -5px;
  color: #f78e1d;
}
/* Checkbox click */
body.login div#login p#nav a,body.login div#login p#backtoblog a{
  color: #000;
}
body.login div#login p#nav a:first-child{
  font-size: larger;
}
body.login div#login p#backtoblog{
  padding: 0 60px 16px 60px;
  margin: 16px 0;
  border-bottom: 2px solid #f78e1d; /* Naranja */
}

.login .message {
  border-left: 0;
  background-color: #f78e1d;
  text-align: center;
  color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: bold;
}

#pass-strength-result {
  background-color: #f78e1d;
  border-color: #f78e1d !important;
  color: #fff;
}